<nav class="navbar navbar-default navbar-fixed-bottom navbar-mediapro-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4><a href="#">Contacto</a></h4>
                <p>Gemma Pons/Joan Bennassar</p>
                <p>customerservice@mediacoach.es</p>
                <p>+34 934 761 551</p>
            </div>
            <div class="col-md-2">
                <h5>   <a href="#">Productos</a></h5>
                <p>MediaCoach Desktop</p>
                <p>MediaCoach Live</p>
                <p>MediaCoach Portal</p>
            </div>
            <div class="col-md-2">
                <h5><a href="#">Sponsors</a></h5>
            </div>
            <div class="col-md-2">
                <h5><a href="#">Contactos</a></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img [src]="logoliga" alt="laliga" width="80" /> <img [src]="mediaProLogo" width="70" />
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p> <a href="#">All right reserved</a></p>
            </div>
            <div class="col-md-3">
                <p><a href="#">Aviso Legal</a></p>
            </div>
            <div class="col-md-3">
                <p> <a href="#">Pol&iacute;tica de protecci&oacute;n de datos</a></p>
            </div>
        </div>
    </div>
</nav>