
/* === DIVs ==== */

.main-login {
  max-width: auto;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 40px;
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: #5b6277;
}

.row {
  max-width: auto;
  padding: 0;
  margin: 0;
  margin-top: 15%;
}


/* === IMGs ==== */

img {
  display: block;
  margin: auto;
}


/* === INPUTS ==== */

input[type="text"],
input[type="password"],
span {
  height: 50px;
  border-radius: 3px;
  background-color: #211f1f;
  border: 0px;
  color: #e0e0e0;
}


/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  background-color: #211f1f !important;
  -webkit-text-fill-color: #e0e0e0;
  -webkit-box-shadow: 0 0 0px 1000px #211f1f inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
}

input[type="text"]:focus,
input[type="password"]:focus,
span:focus {
  color: #e0e0e0;
  border-color: #CA2B25;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px #CA2B25;
  outline: 0 none;
}


/*.input-group:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 7px #CA2B25;
  border-color: #CA2B25;
}*/


/* === BUTTONS ==== */

.btn-signin {
  background-color: #CA2B25;
  border: 0px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  height: 50px;
  width: 100%;
}

.btn-signin:focus,
.btn-signin:hover {
  outline: none;
  outline-style: none;
  border: 0;
  box-shadow: 0;
}

.btn-signin:hover {
  background-color: #D40B03;
}

.btn-signin:active,
.btn-signin:target {
  color: white;
  background-color: #D40B03;
}


/* === GLYPHICON ==== */

.glyphicon {
  border-right: 1px solid #141414;
  top: 0;
}

.input-group-addon {
  color: #A6A6A6;
}

.has-error .input-group-addon {
  color: #a94442;
  background-color: #211f1f;
  border-color: #a94442;
}


/* === ERROR CLASS ==== */

.alert {
  margin-top: 20px;
}
