<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">

      <form name="loginForm" (ngSubmit)="login()" #f="ngForm" novalidate>

        <div class="form-group">
          <img [src]="mediaProLogo" alt="mediapro" width="200" />
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
            <input type="text" placeholder="Username" class="form-control" name="username" [(ngModel)]="loginModel.username" #username="ngModel"
              aria-describedby="basic-addon1" required autofocus>
          </div>
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock" id="basic-addon2"></span>
            <input class="form-control" id="inputPassword" name="password" [(ngModel)]="loginModel.password" #password="ngModel" placeholder="Password"
              aria-describedby="basic-addon2" required type="password">
          </div>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>

        <div class="form-group">
          <button [disabled]="loading" type="submit" class="btn btn-default btn-signin">Sign In</button>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>

      </form>

    </div>
  </div>
</div>
