<app-header></app-header>
<div class="container">
  <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 col-xl-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 col-xl-offset-4">
    <form class="form-horizontal" #f="ngForm">
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" name="username" [(ngModel)]="userData.username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" name="password" [(ngModel)]="userData.password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]="userData.email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Suscribe</label>
        <div class="checkbox col-sm-10">
          <label>
                <input type="checkbox" name="isSubscribed" [(ngModel)]="userData.isSubscribed">
            </label>
        </div>
      </div>
      <div class="form-group">
        <label for="selectRol" class="col-sm-2 control-label">Role</label>
        <div class="col-sm-10">
          <select class="form-control" id="selectRol" name="role" [(ngModel)]="userData.role">
              <option *ngFor="let userRole of userRoles" [ngValue]="userRole">{{userRole}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" (click)="update()" >Update</button>
          <div *ngIf="isUpdated" class="alert alert-success"> Tus datos se han actualizado </div>
        </div>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
